body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 50px;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-content img {
    max-width: 50%;
    height: auto;
    margin:50px;
}

.text-content {
    padding: 20px;
    margin-top:100px;
    flex: 3;
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 2px 5px gray;
}


.benefits, .progress, .requirements {
    margin: 20px 0;
}

.benefits, .progress {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 3;
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 2px 5px gray;
}
.tan{
   margin-top:-1.65%;
}

.benefits div, .progress div {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.benefits img, .progress img, .requirements img {
    vertical-align: middle;
    margin-right: 10px;
}

.progress {
    justify-content: center;
    margin: 40px 0;
}

.b1{
 padding-right:15%;
 margin-bottom: -7px;
}

.progress div {
    margin: 0 20px;
}

.cta {
    text-align: center;
    margin: 20px 0;
    margin-top:50px;
}

.cta a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
}

.cta a:hover {
    background-color: #0056b3;
}

.requirements {
    text-align: center;
    margin-top: 40px;
    font-size:1.3rem;
}

.requirements .requirement-box {
    margin-bottom: 20px;
    flex: 3;
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 2px 5px gray;
    margin-top:20px;
}

.requirements .requirements-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.requirements img {
    margin-right: 10px;
}

.title-between {
    text-align: center;
    margin: 40px 0;
    font-size:1.3rem;
}

.quick-info {
    text-align: center;
    margin: 40px 0;
}

.quick-info h2 {
    font-size: 30px;
}
