#grammar-paper {
    background-color: #f5f5f5;
    overflow: auto;
}

.main .container {
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 1170px;
    margin-bottom: 40px;
}

.container .title {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    color: #181717;
    margin: 30px 0 30px 0;
    margin-top: 120px;
}

.grammar-wrap-left {
    box-sizing: border-box;
}

.main-practice-list {
    display: flex;
}

.main-practice-list-view {
    width: 100%;
    padding: 24px 0px 0px 24px;
    max-width: 70%;
}

.main-practice-list-view .title-first {
    font-weight: 700;
    font-size: 20px;
    color: #181717;
    min-height: 28px;
}

.main-practice-list-view .list-child {
    margin-top: 12px;
    background: hsla(0, 0%, 100%, 0.6);
    border-radius: 15px;
    padding: 20px;
}

.wrap-list {
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    margin-top: -20px;
    width: calc(100% + 20px);
    margin-left: -20px;
}

.list-left, .list-right {
    width: 50%; 
    padding: 10px;
    box-sizing: border-box;
}

.wrap-list .list-left {
    width: 50%;
    padding-left: 20px;
    padding-top: 20px;
}

.wrap-list .item {
    height: 50px;
    background-color: #fff;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.wrap-list .item-left {
    display: flex;
    align-items: center;
}

.item-icon-grammar img {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.25rem;
}

.item-name {
    color: #4a4a4a;
    font-weight: 800;
    font-size: 14px;
    line-height: 21px;
    padding-left: 15px;
}

.wrap-list .list-right {
    width: 50%;
    padding-left: 20px;
    padding-top: 20px;
}

.other-practices-list .title {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.other-practices-list .list {
    margin-top: 12px;
}

.other-practices-list .list a {
    text-decoration: none;
    color: inherit;
}

.other-practices-list .list-item {
    background: #fff;
    border-radius: 15px;
    min-height: 55px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    margin-bottom: 10px;
}

.list-item-name {
    color: #535353;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
}

.list-item-icon {
    color: #535353;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.list-item-icon img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.6rem;
}

.grammar-right {
    padding-left: 24px;
    padding-top: 24px;
    max-width: 30%;
    width: 30%;
}

.hinhqc {
    max-width: 100%;
    height: auto;
    width: 100%;
}


