*{
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

body {
    font-family: 'Open Sans', sans-serif;  
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
/* header */
header {
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.dropdownMenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdownMenu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
}

.dropdownMenu a:hover {
    background-color: #f0f0f0;
}

.dropdown:hover .dropdownMenu {
    display: block;
}

.dropdown:hover > a i {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.logoContainer {
    align-items: center;
    font-weight: 700;
    font-size: large;

}

.logo {
    height: 45px;
    margin-right: 15px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    align-items: center;
    padding: 10px 15px;
    font-size: 14px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #007bff;
}



/* MAIN */
main {
    padding-top: 100px;
    background-color: #f4f4f4;
}

.content {
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 40px;
}
.textContainer{
    width: 30%;
}
.highlight {
    color: transparent;
    background-color: #45cde9;
    background-image: linear-gradient(
        10deg,
        #880088,
        #aa2068,
        #cc3f47,
        #de6f3d,
        #f09f33,
        #de6f3d,
        #cc3f47,
        #aa2068,
        #880088
    );
    background-clip: text;
    -webkit-background-clip: text;
}


.textContainer h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.textContainer p {
    color:black;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.actionButton, .premiumButton {
    display: inline-block;
    padding: 12px 12px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-right: 15px;
    transition: background-color 0.3s ease;
}
.premiumButton:hover{
    color: red;
}

.actionButton {
    background-color: #007bff;
}

.actionButton:hover {
    background-color: #0056b3;
}

.premiumButton {
    background-color: gold;
}

.premiumButton:hover {
    background-color: gold;
}

.imageGrid {
    flex-wrap: wrap;
    gap: 10px;
    width: 40%;
}

.imageGrid img {
    width: calc(50% - 10px);
    border-radius: 5px;
}

.features {
    /* padding: 40px 20px; */
    background-color: #e5c100;
    border-radius: 30px;
    margin: 0 50px;
}

.features h2 {
    font-size: 35px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
    background-color: #0056b3;
    padding: 20px;
    border-radius: 30px;
}

.features .feature {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0px 30px;
    padding-bottom: 20px;
}

.feature img {
    width: calc(30% - 100px);
    height: auto;
    border-radius: 5px;
}

.featureText h3 {
    font-size: 30px;
    margin-bottom: 5px;
    color: #333;
}

.featureText p {
    font-size: 20px;
    color: black;
    line-height: 1.5;
}

footer {
    text-align: center;
    padding: 15px 20px;
    background-color: #ffffff;
    border-top: 1px solid #ccc;
    margin-top: 40px;
}

/* Premium */
.dangnhap {
    background-color: black;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-right: 50px;
    border: 2px solid black;
}

.dangnhap:hover {
    background-color: white;
    color: black;
}
/* Link login */
.test-items .to-test-btn .log {
    background-color: #fdf0df;
    outline: 3px #fdf0df solid;
}

.test-items .to-test-btn .log:hover {
    background-color: transparent;
}
/* Link login */
.test-item{
    width: 60%;
    position: relative;
    height: 180px;
    margin: 30px auto;
}
.test-item>.img{
    width: 100%;
}
.test-item img{
    width: 100%;
    height: 180px;
}
.test-item>.info{
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 20px;
    width: 60%;
    color: white;
}
.content>.test-item:nth-child(2)>.info{
    color: black !important;
}
.to-test-btn{
    position: absolute;
    z-index: 10;
    top:100px;
    left: 20px;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid black;
}
.to-test-btn:hover{
    background-color: white;
}


.text{
    color: white;
    font-weight: bold;
}
.to-test-btn:hover .text{
    color: black !important;
}
.btn.log{
    text-decoration: none;
}
.content>h2{
    margin-left: 200px;
    margin-top: 50px;
    font-size: 40px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}


.title {
    text-align: center;
    color: #333;
    padding: 20px 0;
    margin-top:120px;
}


.content {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

}

.left, .right {
    width: 48%;
    padding: 20px;
    background-color: #fff; 
    border: 1px solid #ddd; 
    border-radius: 50px;
    transition: all 0.3s ease;
    margin-bottom: 20px; 
}

.left:hover, .right:hover {
    border-color: #007bff; 
    background-color:aqua; ; 
}

.left .section-title, .right .section-title {
    font-size: 1.5em;
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;

}

ul {
    list-style-type: disc;
    margin: 0;
    padding: 0 0 0 20px;
}

li {
    margin-bottom: 10px;
}

.requirements {
    width: 90%; 
    padding: 20px;
    background-color: #fff; 
    border: 2px solid #333; 
    border-radius: 30px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px; 
    transition: all 0.3s ease;
    margin:auto;  

}


.requirements:hover {
    border-color: black; 
    background-color: rgb(9, 246, 131); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.requirements .section-title {
    font-size: 1.5em;
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
    overflow: auto; 
    text-align: center;
}

.application-process {
    background-color: #f9f9f9; 
    padding: 20px; 
    border: 2px solid #333;  
    border-radius: 30px; 
    margin-bottom: 30px; 
    margin-top:30px;
    margin-left:100px;
    width: 80%;
}

.application-process:hover {
    border-color: black; 
    background-color: rgb(214, 246, 9); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.application-process h1 {
    text-align: center; 
    margin-bottom: 15px; 
    font-size: 1.5em; 
    color: #333; 
}

.application-process p {
    text-align: center;
    font-size: 1em; 
    color: #333; 
    margin-bottom: 10px; 
}

.location-container {
    display: flex; 
    gap: 20px; 
    justify-content: space-between; 
    flex-wrap: wrap;
}


.location {
    flex: 1; 
    background-color: #ffffff; 
    border: 1px solid #ddd; 
    border-radius: 30px; 
    padding: 15px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    max-width: 45%;
}

.location:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.location h2 {
    font-size: 1.4em; 
    color: black; 
    margin-bottom: 10px;
}


.map-link {
    display: inline-flex;
    align-items: center; 
    border: 2px solid #ddd; 
    border-radius: 8px; 
    padding: 4px 8px; 
    margin-top: 10px; 
    transition: background-color 0.3s ease, border-color 0.3s ease; 
    font-size: 0.8em; 
    max-width:-100px; 
    text-align: center; 
}


.map-link img {
    margin-right: 4px; 
    width: 16px; 
    height: 16px; 
}


.map-link a {
    color: #007bff; 
    text-decoration: none;
}


.map-link:hover {
    background-color: #ffcccc; 
    border-color: #ff0000; 
}


/* =============== footer =============== */
.footer {
    background-color: #9fcafb;
    padding: 60px 0px 0px 0px;
    font-family: 'Open Sans', sans-serif;
}

.footer .content {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.list{
    list-style-type: none;
}
.footer .row {
    display: flex;
}

.footer .heading {
    color: var(--font-color);
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.footer .item {
    padding-bottom: 14px;
}

.list .item a {
    font-size: 1.2rem !important;
    color: #000 !important;
    text-decoration: none;
}

.footer .row .email-call {
    color: #686977;
    font-size: 1.5rem;
    font-weight: 400;
}

.row .column-1 {
    width: 25%;
}

.row .column-2 {
    width: 25%;
}

.row .column-3 {
    width: 35%;
}

.row .column-4 {
    width: 10%;
}

.footer-Logo {
    width: 8%;
    display: inline-flex;
    margin-left: 80px;
}
.footer-Logo img{
    width: 50%;
}

.desc-Logo {
    margin-top: 10px; 
    margin-left: -10px; 
    text-decoration: none ; 
    white-space: nowrap; 
    font-size: 15px;
    color: black; 
    font-weight: bold;
}



.footer-bank {
    width: 20%;
    text-align: center;
    margin-left: 200px;
    margin-top: 20px;
}

.footer-copyright {
    width: 35%;
    text-align: right;
    font-size:0.5rem;
    margin-top: 15px;
}
.footer .row-top {
    display: flex;
    flex-wrap: wrap;
}

.footer .email-call .mail-call {
    color: var(--font-color);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
}

.footer .social-media .card {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 25px 25px 25px 0px;
    gap: 20px;
    margin-left: 20%;
}

/* for all social containers*/
.footer .social-media .socialContainer {
    width: 52px;
    aspect-ratio: 1/1;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.3s;
    border-radius: 10px;
}

/* instagram*/
.footer .social-media .containerOne:hover {
    background-color: #d62976;
    transition-duration: 0.3s;
}

/* facebook*/
.footer .social-media .fb {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
        hue-rotate(288deg) brightness(102%) contrast(102%);
}

.footer .social-media .containerTwo:hover {
    background-color: rgb(15, 7, 245);
    transition-duration: 0.3s;
}

/* linkdin*/
.footer .social-media .containerThree:hover {
    background-color: #007bff;
    transition-duration: 0.3s;
}

.footer .social-media .socialContainer:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
}

.footer .social-media .socialSvg {
    width: 20px;
}

.footer .social-media .socialSvg path {
    fill: rgb(255, 255, 255);
}

.footer .social-media .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}
@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.footer .row-bottom {
    margin-top: 50px;
    padding: 28px 0px;
    border-top: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer .row-bottom .copy-right {
    margin-left: auto;
    color: #686977;
    font-size: 1.6rem;
    font-weight: 400;
}

/* =============== Go to top =============== */
.btn-to-top {
    opacity: 0;
    position: fixed;
    bottom: 50px;
    right: 30px;
    font-size: 1.5rem;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: opacity 2s, transform 0.5s ease-in-out;
    pointer-events: none;
    transform: translateY(100%);
}

.btn-to-top:active {
    scale: 0.92;
}

.btn-to-top:hover {
    background: rgb(2, 29, 78);
    background: linear-gradient(
        270deg,
        #ddb4f6 0%,
        #d4b7f7 10%,
        #cbbaf7 20%,
        #c2bdf8 30%,
        #b9c0f9 40%,
        #b1c4f9 50%,
        #a8c7fa 60%,
        #9fcafb 70%,
        #96cdfb 80%,
        #8dd0fc 90%
    );
    color: rgb(4, 4, 38);
}

.btn-to-top.active {
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0);
}

.footer .row-bottom {
    margin-top: 50px;
    padding: 28px 0px;
    border-top: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer .row-bottom .copy-right {
    margin-left: auto;
    color: #686977;
    font-size: 1.6rem;
    font-weight: 400;
}

